<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- 这里namespace必须是PostsMapper接口的路径，不然要运行的时候要报错 “is not known to the MapperRegistry”--> 
<mapper namespace="com.mscncn.firstsystem.user.dao.UserDetailDao"> 
	<insert id="save" parameterType="UserDetail">
		insert into
		s_user_detail(user_id,real_name,email,phone)
		values(#{userId},#{realName},#{email},#{phone})
	</insert>
	<select id="getUserById" parameterType="java.lang.Integer"
		resultType="UserDetail">
		select 
			t.user_id as userId,
			t.username as userName,
			t.locked as locked,
			d.real_name as realName,
	        d.email as email,
	        d.phone as phone,
	        d.create_time as createTime,
	        d.last_login_time as lastLoginTime
		from s_user t,s_user_detail d 
		where t.user_id=d.user_id 
    	<if test="id!=null">
    		and t.user_id=#{id}
    	</if>
	</select>
	<delete id="deleteUserDetail" parameterType="java.lang.String">
		delete from s_user_detail where user_id in
		<foreach collection="array" item="id" open="(" close=")">
			#{id}
		</foreach>
	</delete>
	<update id="update" parameterType="UserDetail">
		update s_user_detail
		<set>
			<if test="realName!=null and realName!=''">
				real_name=#{realName},
			</if>
			<if test="email!=null and email!=''">
				email=#{email},
			</if>
			<if test="phone!=null and phone!=''">
				phone=#{phone}
			</if>
		</set>
		<where>
			<if test="userId!=null and userId!=''">
				user_id=#{userId}
			</if>
		</where>
	</update>
</mapper>