<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- 这里namespace必须是PostsMapper接口的路径，不然要运行的时候要报错 “is not known to the MapperRegistry”--> 
<mapper namespace="com.mscncn.portal.system.role.dao.RoleDao"> 
	<insert id="add" parameterType="Role">
		insert into s_role(role_name,role_remark)
			values(
				#{roleName},#{remark}
			)
	</insert>
	<delete id="delete" parameterType="java.lang.String">
		delete from s_role 
		<where>
			<if test="roleId!=null and roleId!=''">
				role_id=#{roleId}
			</if>
		</where>
	</delete>
	<update id="update" parameterType="Role">
		update s_role 
		<set>
			<if test="roleName!=null and roleName!=''">
				role_name=#{roleName},
			</if>
			<if test="remark!=null and remark!=''">
				role_remark=#{remark}
			</if>
		</set>
		<where>
			<if test="roleId!=null and roleId!=''">
				role_id=#{roleId}
			</if>
		</where>
	</update>
	<select id="getList" parameterType="Pagination"
		resultType="Role">
		select 
			t.role_id as roleId,
			t.role_name as roleName,
			t.role_remark as remark
			from s_role t
			<where>
				<if test="params!=null and params.roleName!=null and params.roleName!=null">
					role_name like <![CDATA[
						#{params.roleName}
					]]>
				</if>
			</where>
	</select>
</mapper>